.navbar{
    background-color:#7952B3;
}
.navbar-brand{
    color: rgb(248, 226, 104);
    border: 1px solid wheat;
    border-radius: 10px;
    background-color:darkslategray;
    padding: 5px;
}
li{
    padding-right: 5px;
    /* border: 1px solid red; */
}
.navitem{
    padding: 10px;
}

.image{
    border: 1px solid #7952B3;
    margin-top: 8px;
    margin-left: 5px;
    border-radius: 10px;
}
body{
    background-color:#C0C4C8;
} 
.cont{
    background-color:#670ded
}
.cont1 {
    text-align: center;
}
.footer{ 
 
    background-color: #393D32; 
    color: white; 
    text-align: center; 
}