.text{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.text2{

    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    padding: 20px;
}


.body{
    background-color: gray;
}

input{

    background-color: antiquewhite;
    color: rgba(0, 0, 0, 0.583);
    font-weight: bold;
    border-radius: 5px;
}

.footer{


    background-color: #393D32;
    color: white;
    text-align: center;
}

 .navbar{
    background-color:#7952B3;
}
.navbar-brand{
    color: rgb(248, 226, 104);
    border: 1px solid wheat;
    border-radius: 10px;
    background-color:darkslategray;
    padding: 5px;

}
li{
    padding-right: 5px;
    /* border: 1px solid red; */
}
.navitem{
    padding: 10px;
}

.image{
    border: 1px solid #7952B3;
    margin-top: 8px;
    margin-left: 5px;
    border-radius: 10px;
}
body{
    background-color:#C0C4C8;
}


#logo{
    color: rgba(255, 217, 0, 0.845);
}